{% extends "presos/base.html" %}
{% load compressed %}


{% block head %}

{% compressed_css 'presentation_scaffold' %}

{% compressed_js 'pdfjs' %}
{% compressed_js 'pdfjsrunner' %}
{% compressed_js 'fullscreen' %}
{% compressed_js 'socketio' %}

<script type="text/javascript">
    $(document).ready(function() {
        var runner = new PdfJsRunner();
        runner.init({
            'workerSrc': '{{ STATIC_URL }}js/pdfjs/pdf.js',
            'file': '{{ MEDIA_URL }}{{ preso.pdf }}',
            'canvasId': 'the-canvas',
            'canvasWrapperLoc': '#canvaswrap',
        });

        $('#back_button').click(function() {
            runner.back();
            return false;
        });
        $('#forward_button').click(function() {
            runner.forward();
            return false;
        });
        $('#fullscreen_button').click(function() {
            goFullscreen('canvaswrap'); 
            return false;
        });

        var socket = io.connect('/present');
        socket.on('connect', function () {
            socket.emit('view', 'preso' + {{ preso.id }});
            console.log('connected');
            runner.bindToSocket(socket);
        });
    });
</script>

{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span12 text-center" id="canvaswrap">
        <div id="canvasshrinkwrap">
            <canvas id="the-canvas" style="border:1px solid black;"></canvas>
            <div id="canvastoolbar">    
                <div class="btn-group">
                    <a class="btn btn-inverse" href="" title="Previous Slide" id="back_button">
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                    <a class="btn btn-inverse" href="" title="Next Slide" id="forward_button">
                        <i class="icon-chevron-right icon-white"></i>
                    </a>
                </div>

                <a class="btn btn-inverse" href="" title="Fullscreen" id="fullscreen_button">
                    <i class="icon-fullscreen icon-white"></i>
                </a>
            </div>
        </div>
    </div>





</div>

{% endblock %}

{% block foot %}

        {% endblock %}